{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    {{ block.super }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dividends</title>
{% endblock head %}
</head>
<body>
{% block content %}
<div id="pageContent" class="fade-in">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="collapse navbar-collapse show" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio' %}"
                    hx-get="{% url 'portfolio' %}" 
                    hx-target="#pageContent" 
                    hx-push-url="true">Back to Portfolio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dividend_calendar' %}"
                    hx-get="{% url 'dividend_calendar' %}" 
                    hx-target="#pageContent" 
                    hx-push-url="true">Show Dividends Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'set_dividend_goal' %}"
                    hx-get="{% url 'set_dividend_goal' %}" 
                    hx-target="#pageContent" 
                    hx-push-url="true">Set Dividend Goal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'simulate_dividend_results' %}"
                    hx-get="{% url 'simulate_dividend_results' %}" 
                    hx-target="#pageContent" 
                    hx-push-url="true">Simulate Future Dividend</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>Dividends</h2>

        <div class="card-custom">
            <div class="card-body-custom">
                <p class="text-center"><strong>Total Annual Dividends:</strong> {{ total_annual_dividends }} zł</p>
                <p class="text-center"><strong>Monthly Dividends:</strong> {{ total_monthly_dividends }} zł</p>
                <p class="text-center"><strong>Daily Dividends:</strong> {{ total_daily_dividends }} zł</p>
                <p class="text-center"><strong>Yield:</strong> {{ dividend_yield }}%</p>
            </div>
        </div>

        <div class="grid-container">
            {% for data in dividend_table_data %}
            <div class="card-custom">
                <div class="card-body-custom">
                    <div class="stock-header">
                        <a href="{% url 'company_info' data.ticker %}">{{ data.ticker }}</a>
                    </div>
                    <p>{{ data.name }}</p>

                    <div class="list-group list-group-custom">
                        <div class="list-group-item list-group-item-custom">
                            <strong>Total dividend:</strong> {{ data.total_dividend }} zł
                        </div>
                        <div class="list-group-item list-group-item-custom">
                            <strong>Dividend per share:</strong> {{ data.dividend_per_share }} zł
                        </div>
                        <div class="list-group-item list-group-item-custom">
                            <strong>Dividend yield:</strong> {{ data.dividend_yield }} %
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="card-custom">
            <div class="card-body-custom">
                <div class="canvas-container">
                    <canvas id="goalChart"></canvas>
                </div>
                <p class="text-center dividend-goal"><strong>Goal:</strong> {{ dividend_goal }} zł monthly</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener("htmx:afterSettle", function() {
            const convertToFloat = (numStr) => parseFloat(numStr.replace(',', '.'));

            const accomplished = convertToFloat("{{ total_monthly_dividends }}");
            const goal = convertToFloat("{{ dividend_goal }}");
            const remaining = convertToFloat("{{ remaining_goal }}");

            const ctx = document.getElementById('goalChart').getContext('2d');
            const goalData = {
                labels: ['Accomplished', 'Remaining'],
                datasets: [{
                    data: [accomplished, remaining],
                    backgroundColor: ['#28a745', '#dc3545'],
                }]
            };
            const config = {
                type: 'pie',
                data: goalData,
                options: {
                    plugins: {
                        legend: {
                            labels: {
                                color: '#ffffff'
                            }
                        }
                    }
                }
            };
            const goalChart = new Chart(ctx, config);
        });
    </script>
    
{% endblock content %}
</div>
</body>
</html>
