{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {{ block.super }}
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    {% endblock head %}
</head>
<body>
    {% block content %}
    <div id="pageContent" class="fade-in">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_stock' %}">Add Stock</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dividends' %}" 
                    hx-get="{% url 'dividends' %}" 
                    hx-target="#pageContent" 
                    hx-push-url="true">Show dividends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search' %}">Search Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="portfolio-summary">
            <p>Total Portfolio Value: <span class="{% if color == 'green'  %}badge-custom badge-profit{% else %}badge-custom badge-loss{% endif %}">{{ total_holdings_value }} zł</span></p>
            <p>Profit (%): <span class="{% if color == 'green'  %}badge-custom badge-profit{% else %}badge-custom badge-loss{% endif %}">{{ total_profit_percentage }}%</span></p>
            <p>Profit (PLN): <span class="{% if color == 'green'  %}badge-custom badge-profit{% else %}badge-custom badge-loss{% endif %}">{{ total_profit_pln }} zł</span></p>
        </div>

        <div class="grid-container">
            {% for stock in portfolio %}
            <div class="card-custom">
                <div class="card-body-custom">
                    <div class="stock-header">
                        <a href="{% url 'company_info' stock.ticker.ticker %}">{{ stock.ticker.ticker }}</a>
                        <span class="badge {% if stock.profit_color == 'green' %}badge-custom badge-profit{% else %}badge-custom badge-loss{% endif %}">
                            {{ stock.profit }} zł
                        </span>
                    </div>
                    <p>{{ stock.ticker.name }}</p>

                    <div class="list-group list-group-custom">
                        <div class="list-group-item list-group-item-custom">
                            <strong>Quantity:</strong> {{ stock.quantity }}
                        </div>
                        <div class="list-group-item list-group-item-custom">
                            <strong>Avg. Purchase Price:</strong> {{ stock.average_purchase_price }} zł
                        </div>
                        <div class="list-group-item list-group-item-custom">
                            <strong>Current Price:</strong> {{ stock.current_price }} zł
                        </div>
                        <div class="list-group-item list-group-item-custom">
                            <strong>Value:</strong> {{ stock.current_value }} zł
                        </div>
                        <div class="list-group-item list-group-item-custom">
                            <strong>Profit Percentage:</strong> {{ stock.percentage }}%
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>   
    {% endblock content %}
</div>
</body>
</html>
