{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    {{ block.super }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Companies</title>
{% endblock head %}
</head>
<body>
{% block content %}
<div id="pageContent" class="fade-in">
    <div class="container">
        <h2>Search Companies</h2>
        <form method="post" action="{% url 'search' %}"
        hx-post="{% url 'search' %}" 
        hx-target="#pageContent" 
        hx-swap="outerHTML" 
        hx-push-url="true">
            {% csrf_token %}
            <div class="form-group">
                <label for="min_years">Minimum Consecutive Years of Dividends:</label>
                <input type="number" class="form-control" id="min_years" name="min_years" min="0" value="0">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="consecutive_growing_years" name="consecutive_growing_years">
                <label class="form-check-label" for="consecutive_growing_years">Consecutive Growing Years</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="sort_by_price" name="sort_by_price">
                <label class="form-check-label" for="sort_by_price">Sort by Price</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="sort_by_dividend" name="sort_by_dividend">
                <label class="form-check-label" for="sort_by_dividend">Sort by Dividend per Stock Value</label>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="{% url 'portfolio' %}" class="btn btn-secondary"
            hx-get="{% url 'portfolio' %}" 
            hx-target="#pageContent" 
            hx-push-url="true">Back to Portfolio</a>
        </form>
    </div>
</div>
{% endblock content %}
</body>
</html>
